:root {
  --clr-primary: rgb(54, 112, 199);
  --clr-light: #f4f4f4;
  --clr-dark: #333333;
  --clr-warning: rgb(99, 36, 36);
}

*, *::before, *::after {
  font-family: inherit;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  background-color: var(--clr-primary);
  color: var(--clr-light);
  display: grid;
  grid: "header header header header" auto "...... lists  active ......" auto/1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
}
body .title {
  grid-area: header;
  text-align: center;
  font-size: calc(7vw + 2rem);
  font-weight: 900;
  color: rgba(0, 0, 0, 0.1);
  letter-spacing: 1px;
  margin: -0.3em 0 0.5em;
}
body .all-tasks {
  grid-area: lists;
}
body .task-list {
  font-size: 1.2rem;
  line-height: 1.7;
  list-style: circle;
  padding-left: 1.1em;
}
body .list-name {
  cursor: pointer;
}
body .list-name:hover {
  opacity: 0.7;
}
body form {
  display: flex;
}
body .btn {
  cursor: pointer;
  background: 0;
  border: 0;
  padding: 0;
  color: inherit;
}
body .btn.create {
  font-size: 1.5rem;
  font-weight: 900;
  margin-right: 0.25em;
  transition: opacity 200ms ease-in;
}
body .btn.create:hover {
  opacity: 0.7;
}
body .new {
  background: transparent;
  border: 0;
  color: inherit;
  border-bottom: 1px solid currentColor;
  font-size: inherit;
  outline: none;
  padding: 0.25em;
  transition: border-bottom 100ms ease-in;
  order: 2;
}
body .new::placeholder {
  color: inherit;
  opacity: 0.4;
}
body .new:focus {
  border-bottom-width: 3px;
}
body .new:focus::placeholder {
  opacity: 0.15;
}
body .new.list {
  font-size: 1.1rem;
}
body .active-list {
  font-weight: 700;
}
body .todo-list {
  --spacer: 2rem;
  grid-area: active;
  background: var(--clr-light);
  color: var(--clr-dark);
}
body .todo-header {
  padding: var(--spacer);
  background: #e4e4e4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .list-title {
  margin: 0 1em 0 0;
}
body .task-count {
  margin: 0;
  font-size: 1rem;
}
body .todo-body {
  padding: var(--spacer);
  position: relative;
}
body .new-task-creator .create {
  color: var(--clr-primary);
}
body [type=checkbox] {
  opacity: 0;
  position: absolute;
}
body .task label {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-bottom: 1.25em;
}
body .task {
  position: relative;
}
body .task::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0.5em;
  height: 1px;
  background: currentColor;
  opacity: 0.1;
}
body .custom-checkbox {
  --size: 0.75em;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  margin-right: var(--size);
  cursor: pointer;
  border: 2px solid currentColor;
  border-radius: 50%;
  transition: transform 300ms ease-in-out;
}
body .task:hover .custom-checkbox, body [type=checkbox]:focus + label .custom-checkbox {
  transform: scale(1.2);
  color: var(--clr-primary);
}
body [type=checkbox]:checked + label .custom-checkbox {
  background: var(--clr-primary);
  border-color: var(--clr-primary);
  box-shadow: inset 0 0 0px 2px white;
}
body [type=checkbox]:checked + label {
  opacity: 0.5;
}
body .task label::after {
  content: "";
  position: absolute;
  left: 1.5em;
  right: 0;
  height: 3px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 150ms ease-in-out;
}
body [type=checkbox]:checked + label::after {
  transform: scaleX(1);
  transform-origin: left;
}
body .delete-stuff {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -35px;
  color: var(--clr-light);
}
body .btn.delete {
  opacity: 0.7;
  font-size: 1rem;
  transition: color 200ms;
}
body .btn.delete:hover {
  color: var(--clr-warning);
}

/*# sourceMappingURL=main.css.map */
